.App {
  /* height: 100%; */
  background-color: #151515;
  min-height: 100%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #00FEDE;
}

.frontPage {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #00FEDE;
}

.error {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40vh;
  font-size: x-large;
}

.nobuildsErr {
  text-align: center;
  align-self: center;
  margin-bottom: 50vh;
  font-size: x-large;
}

.errorBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorBox img {
  max-width: 10vw;
  max-height: 10vw;
}

.error-text {
  margin-left: 20px;
  word-wrap: normal;
  max-width: 70vw;
}

.hand img {
  max-width: 30vw;
  height: auto;
  position: static;
}

.hand {
  display: flex;
  align-items: right;
  justify-content: right;
}

.searchBar {
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

input,
.wave {
  all: unset;
  border: 0;
  padding-bottom: 10px;
  border-bottom: 1px;
  border-color: #00FEDE;
  border-style: solid;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #00FEDEBB;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.wave {
  width: 3.5em;
  margin-left: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
}

.waveBox {
  margin-left: 0.5em;
}

.inputs {
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}




.suggestions {
  max-height: 40vh;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.suggestion {
  padding: 5px;
  font-size: calc(10px + 1vmin);
  background-color: #181818;
}

.suggestion:hover {
  background-color: #252525;
  cursor: pointer;
}

.searchButton {
  /* background-color: ; */
  padding: 5px;
  margin-left: 0.5em;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #00FEDE;
}

.searchButton:hover {
  /* background-color: #00FEDEBB; */
  border-color: #00FEDEBB;
  cursor: pointer;
}


.searchButton img {
  margin: auto;
  width: 1em;
  height: 1em;
}

.colFiller {
  min-width: 30vh;
}

.rowFiller {
  min-height: 47vh;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}


/* scrollbar */
body::-webkit-scrollbar {
  width: 0.8em;
}

.suggestions::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track-piece {
  background-color: #151515;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  outline: 1px solid #00FEDE44;
}


/* holds */
.holds {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hold {
  margin: 5vh;
}

/* loading animation */
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #00FEDE;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #00FEDE;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #00FEDE;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.dark {
  display: none;
}

/* media */
@media only screen and (max-width: 800px) {
  .hand {
    display: none;
  }

  .colFiller {
    display: none;
  }

  .rowFiller {
    min-height: 20vh;
  }

  .mobileFiller {
    min-height: 50vh;
  }

  .nobuildsErr {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-top: 100px;
    margin-bottom: 0;
  }


  .App {
    flex-direction: column;
    align-items: center;
  }

  .frontPage {
    flex-direction: row;
    justify-content: center;
  }

  .inputs {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputPart,
  .wave {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .wave,
  .unit {
    padding-bottom: 5px;
  }

  .inputPart {
    margin-top: 3em;
  }

  .waveBox {
    margin-left: 0;
  }

  .searchButton {
    margin-top: 4em;
    background-color: #00FEDE;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .searchButton:hover {
    background-color: #00FEDE;
  }

  .light {
    display: none;
  }

  .dark {
    display: block;
  }

}