.box {
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    border: 1px solid #FFFFFF22;
    padding: 0;
}

.imageBox {
    position: relative;
}

.unitImage {
    min-width: 24px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    position: absolute;
    padding: 1px;
}

table {
    border-spacing: 0;
    /* border-collapse: separate; */
}